<!doctype html>
<html lang="en-us" data-ng-app="demoApp">
<head>
	<title>Introduction to AngularJS</title>
	<link  rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery-1.12.0.min.js"></script>
	
</head>
<body> 
	<div data-ng-controller="SimpleController">
	<!-- Basic Binding -->
		<h3>Enter text here</h3>
		<input type="text" data-ng-model="name"/><!-- {{ name }} -->
		<br>
		<ul>
			<li data-ng-repeat="personName in customers | filter:name | orderBy:'city'">{{ personName.name }} - {{ personName.city}} </li>
		</ul>
	</div>
	
<script src="angular.min.js"></script>
<script>
	var demoApp = angular.module('demoApp', []);
	var controllers ={};
	controllers.SimpleController = function ($scope) {
		$scope.customers=[
			{name:'krian',city:'vellore'},
			{name:'priya',city:'mumbai'},
			{name:'ram',city:'Delhi'}
		];
	};
	
	demoApp.controller(controllers);
</script>
</body>
</html>
